KEY='wjRs...............fKef'    
SECRET='3xB5n................................GWEV6HMDbPhth'
TOKEN= '14959................................7QwUIBKyRZB2QN'
TOKEN_SECRET= 'ysLFG2v..............................CA8p1GXo'

# ACCESS TOKENS BY CREATING A TWITTER APP FROM DEV.TWITTER.COM

